name: Docker Image CI

on:
  workflow_dispatch:
  
    inputs:
      # Input 1: queried data
      time:
        description: "date: mm-dd-yyyy"
        required: True
        default: 03-04-2022
        
      # Input 2: aggregation of data (pre calculated)
      aggregation:
        type: choice
        required: True
        description: pre-aggregation
        options:
        - TRUE
        - FALSE
        
      # Input 3: country for which results are filtered
      country:
        type: choice
        required: True
        default: US
        options:
        - US
        - Australia
        - Canada
        - France

        
      # Input 4: destinatary
      dest_email:
        description: "destinary email"
        default: "assansanogo@gmail.com"
        required: True
        

    
env:
  GCP_BUCKET: ${{ secrets.GCP_BUCKET }}
  GCP_PROJECT: ${{ secrets.GCP_PROJECT }}
 


jobs:
  streamline:
    runs-on: ubuntu-latest
    
    outputs:
      summarized: ${{ steps.dailyrun.outputs.summarized }} 
    
    steps:
    - uses: actions/checkout@v3

         
    - id: checks
      name: check dest folder
      run: |
        echo $(ls -l $(pwd)/out)
      
    - id: imgbuilder
      name: Build the Docker image
      run: docker build . --file Dockerfile --tag streamliner:latest
     
    - name: Remove File
      uses: JesseTG/rm@v1.0.2
      with:
        path: $(pwd)/out
     


     
    - id: dailyrun
      name: Run Docker container (for today)
      run: |
        docker run -t --rm -v $(pwd)/out:/app/out  -e DATE=$(date +'%m-%d-%Y') -e AGGREGATION=FALSE -e COUNTRY=US streamliner:latest

        
    - name: "INFO: Describe the requested date"
      run: echo "the workflow will retrieve data before:" ${{github.event.inputs.time}}
      
    - name: "INFO: Describe the level of aggregation"
      run: echo "the workflow will retrieve pre-aggregated data:" ${{github.event.inputs.aggregation}}
      
    - name: "INFO: Describe the country for summarization"
      run: echo "the workflow will sumamrize the country:" ${{github.event.inputs.country}} 
    
    #- id: daterun
    #  name: Run Docker container (with inputs)
    #  run: docker run -t --rm -v $(pwd)/out:/app/out  -e DATE=${{github.event.inputs.time}} -e COUNTRY=${{github.event.inputs.country}} -e AGGREGATION=${{github.event.inputs.aggregation}} streamliner:latest                                                   
    
    - name: outputday
      
        
      run: | 
        echo $(ls  $(pwd)/out) 
        REPORT=$(echo $(ls  $(pwd)/out) | head -1)
        cp $(pwd)/out/$REPORT custom_report.csv
        cat custom_report.csv

    - name: datastore_storage
      uses: actions/upload-artifact@v3
      with:
          name: report
          path: custom_report.csv
 
    - name: Send email
    
      env:
        SENDER_EMAIL: 'assansanogo@gmail.com'
        DEST_EMAIL: ${{ github.event.inputs.dest_email }}
        SENDGRID_API_KEY: ${{ secrets.SENDGRID }}
          
      run: |
        echo "$SENDGRID_API_KEY"

        sudo apt-get update && sudo apt-get install python3-pip wkhtmltopdf
        pip3 install sendgrid pdfkit glob2
        echo $(which wkhtmltopdf)

        python3 ./streamliner.py "$SENDGRID_API_KEY" ${{ env.SENDER_EMAIL }} ${{ env.DEST_EMAIL }}
      
  upload:
    needs: streamline
    runs-on: ubuntu-latest
    permissions: 
      contents: 'read'
      id-token: 'write'
          
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      
    - name: datastore_retrieval
      uses: actions/download-artifact@v3
      with:
        name: report

      
    # Configure Workload Identity Federation via a credentials file.
    - id: 'auth'
      name: 'Authenticate to Google Cloud'
      uses: 'google-github-actions/auth@v0'
      with:
        workload_identity_provider: 'projects/372976581437/locations/global/workloadIdentityPools/my-pool/providers/my-provider'
        service_account: 'streamliner@my-training-as.iam.gserviceaccount.com'

    - name: 'populate bucket'
      uses: 'google-github-actions/upload-cloud-storage@v0'
      with:
          path: custom_report.csv
          destination: 'streamliner-john-hopkins'
          
    - name: read from bucket  
      uses: actions-hub/gcloud@master
      env:
        PROJECT_ID: my-training-as
        APPLICATION_CREDENTIALS: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}
      with:
        args: cp custom_report.csv gs://streamliner-john-hopkins/custom_report2.csv
        cli: gsutil
        
        
  merge:
    needs: streamline
    runs-on: ubuntu-latest
    permissions: 
      contents: 'read'
      id-token: 'write'
      
    env:
      PROCCESSED_REPORT: "custom_report.csv"
      TOTAL_REPORT: "total_report_${{inputs.country}}.csv"
    
    
    steps: 
    
    - name: checkout
      uses: actions/checkout@v3
      
    # Configure Workload Identity Federation via a credentials file.
    
    - id: 'auth'
      name: 'Authenticate to Google Cloud'
      uses: 'google-github-actions/auth@v0'
      with:
        workload_identity_provider: 'projects/372976581437/locations/global/workloadIdentityPools/my-pool/providers/my-provider'
        service_account: 'streamliner@my-training-as.iam.gserviceaccount.com'
        
    - name: prepare the folders before syncing
      id: 'folders'
      run: |
        mkdir -p data/${{github.event.inputs.country}}
      
    - name: sync with remote bucket  
      uses: actions-hub/gcloud@master
      id: 'out'
      env:
        PROJECT_ID: my-training-as
        APPLICATION_CREDENTIALS: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}
      with:
        args: rsync data/${{ github.event.inputs.country }} gs://streamliner-john-hopkins/${{ github.event.inputs.country }}
        cli:  gsutil
        
    - name: last check
      run: |
        cat  data/${{github.event.inputs.country}}/hiddenfile.csv
        
