name: Docker Image CI

on:
  workflow_dispatch:
    inputs:
      time:
        description: "date: mm-dd-yyyy"
        required: True
        default: 03-04-2022

      aggregation:
        type: choice
        required: True
        description: pre-aggregation
        options:
        - TRUE
        - FALSE
        
      dest_email:
        description: "destinary email"
        default: "assansanogo.dsti.institute"
        required: True

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
       
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag streamliner:latest
       
    - name: Run Docker container (for today)
      run: docker run -t --rm -v $(pwd)/out:/app/out  -e DATE=$(date +'%m-%d-%Y') -e AGGREGATION=FALSE streamliner:latest
    
    - name: Describe inputs
      run: echo "the workflow will retrieve data before:" ${{github.event.inputs.time}} && echo "the workflow will retrieve pre-aggregated data:" ${{github.event.inputs.aggregation}}
    
    - name: Run Docker container (with inputs)
      run: docker run -t --rm -v $(pwd)/out:/app/out  -e DATE=${{github.event.inputs.time}} -e AGGREGATION=${{github.event.inputs.aggregation}} streamliner:latest
              
    - name: Send email
      env:
        SENDER_EMAIL: 'assansanogo@gmail.com'
        DEST_EMAIL: ${{github.event.inputs.dest_email}}
        SENDGRID_API_KEY: ${{ secrets.SENDGRID }}
          
      run: |
        echo "$SENDGRID_API_KEY"

        sudo apt-get update && sudo apt-get install python3-pip wkhtmltopdf
        pip3 install sendgrid pdfkit glob2
        echo $(which wkhtmltopdf)
        echo "this is a test" > ./report.csv

        python3 ./streamliner.py "$SENDGRID_API_KEY" ${{ env.SENDER_EMAIL }} ${{ env.DEST_EMAIL }}

