name: Docker Image CI

on:
  workflow_dispatch:
    inputs:
      time:
        description: "date: mm-dd-yyyy (d+1)"
        required: True
        default: 'TODAY'

      aggregation:
        type: choice
        required: True
        description: Pick pre-aggregation
        options:
        - raw
        - pre-aggregated

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag streamliner:latest
      
    - name: Run Docker container
      run: docker run -t --rm -v $(pwd)/out:/app/out  -e DATE=$(date +'%m-%d-%Y') -e AGGREGATION=FALSE streamliner:latest
